<div class="modal fade" tabindex="-1" role="dialog" th:fragment="create-modal" id="order-create-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create Order</h4>
            </div>
            <div class="modal-body row">
                <p class="errors"></p>
                <form id="order-create" class="form-inline col-md-12">
                    <div class="col-md-12 product-row" id="product-form">
                        <div class="form-group col-md-8">
                            <label for="product">Select Product</label>
                            <select class="form-control" name="product" data-type="input">
                                <option th:if="${null != products}"
                                        th:value="${products.id}"
                                        th:each="product:products"
                                        th:text="${product.name}"
                                ></option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="amount">Amount</label>
                            <input class="form-control" name="amount" id="amount" type="number" min="1" data-type="input">
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <button class="btn btn-primary" id="product-cloner" type="button">
                        <span>+</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-modal-data" data-href="/orders">Save</button>
            </div>
        </div>
    </div>
</div>